<table border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Phone_no</th>
        <th>Blood_group</th>
        <th>Organ_type</th>
        <th>Blood_pressue</th>
        <th>Diabetes</th>
        <th>Allergy</th>
        <th>Asthama</th>
        <th>Approval</th>
        <th>Approved_by</th>
        <th>Location</th>

    </tr>
    <tr ng-repeat="p in apts">
        <td>{{p.Id}}</td>
        <td>{{p.Name}}</td>
        <td>{{p.Age}}</td>
        <td>{{p.Gender}}</td>
        <td>{{p.Phone_no}}</td>
        <td>{{p.Blood_group}}</td>
        <td>{{p.Organ_type}}</td>
        <td>{{p.Blood_pressue}}</td>
        <td>{{p.Diabetes}}</td>
        <td>{{p.Allergy}}</td>
        <td>{{p.Asthama}}</td>
        <td>{{p.Approval}}</td>
        <td>{{p.Approved_by}}</td>
        <td>{{p.Location}}</td>
    </tr>
</table>