<form>
    <input type="hidden" ng-model="id"> <br>
    <input type="text" ng-model="name">Name<br>
    <input type="text" ng-model="age">Age<br>
    <input type="text" ng-model="gender">Gender<br>
    <input type="text" ng-model="phone_no">Phone_no<br>
    <input type="text" ng-model="blood_group">Blood_group<br>
    <input type="text" ng-model="organ_type">Organ_type<br>
    <input type="text" ng-model="blood_pressure">Blood_pressure<br>
    <input type="text" ng-model="diabetes">Diabetes<br>
    <input type="text" ng-model="allergy">Allergy<br>
    <input type="text" ng-model="asthama">Asthama<br>
    <input type="hidden" ng-model="approval" value="Pending">
    <input type="hidden" ng-model="approved_by">
    <input type="hidden" ng-model="location">
   
    <button ng-click="test()">Create</button>
</form>