
@{
    ViewBag.Title = "List";
}

<h2>List</h2>
<table class="table table-bordered">
    <tr>
        <td>Name</td>
        <td>Id</td>
        <td>Dob</td>
    </tr>
    <tr>
        <td>Sakline</td>
        <td>19-39321-1</td>
        <td>05.12.2000</td>
    </tr>
    <tr>
        <td>Joy</td>
        <td>19-40130-1</td>
        <td>05.12.1998</td>
    </tr>

</table>
