

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Patient.cshtml";
}

<center><h1>Hospital Management System(HMS)</h1></center>
<h5 style="border: 2px solid Red"></h5>

<center>
    <h2>Patient Homepage</h2>
    <span class="text-success" style="font-size: 30px;">@TempData["msg"]</span>

    <h1><br /></h1>
    <table class="table table-bordered">
        <tr>
            <th colspan="2" style="font-size:13px; text-align:center;">Notices</th>
        </tr>
        <tr>
            <th>Title</th>
            <th>Details</th>
        </tr>
        @foreach (var pt in Model)
        {
            <tr style="text">
                <td>@pt.Title</td>
                <td>@pt.Details</td>
            </tr>
        }
    </table>

</center>



