@{
    ViewBag.Title = "Education";
}

<b><h3 style="background-color:lightgreen;">BACHELOR OF SCIENCE IN COMPUTER SCIENCE AND ENGINEERING (BSC in CSE)</h3></b>
<h3>University: American International University-Bangladesh</h3>
<h3>Location: 408/1, Kuratali, Khilkhet,Dhaka 1229, Bangladesh.</h3>
<h3>Date:22 May 2022</h3>
<h3>CGPA :3.54</h3>
<br>
<b><h3 style="background-color:lightgreen;">HIGHER SECONDARY CIRTIFICATE (H.S.C)</h3></b>
<h3>College: Birshrestha Noor Mohammad Public College</h3>
<h3>Location: Peelkhana, Dhaka 1 to 5, Bangladesh</h3>
<h3>Passing year :2018</h3>
<h3>CGPA :4.25</h3>
<br>
<b><h3 style="background-color:lightgreen;">SECONDARY SCHOOL CIRTIFICATE (S.S.C)</h3></b>
<h3>School: Dulai High School</h3>
<h3>Location: Dulai, Sujanagar, Pabna-6600</h3>
<h3>Passing year :2019</h3>
<h3>CGPA :5.00 </h3>