@{
    ViewBag.Title = "Experience";
}

<b><h3 style="background-color:lightgreen;">MY EXPERIENCE</h3></b>
<ul>
<li>Making a portfolio task</li>
<li>Have designed a website</li>
</ul>
<br>
<b><h3 style="background-color:lightgreen;">Education related experience</h3></b>
<ul>
<li>Software requirements configure</li>
<li>Software quality and testing</li>
</ul>
