@{
    ViewBag.Title = "Page1";
}
<body style="background-color:powderblue;">
<br>
</br>
<center><h2 style="background-color:White;">My CV Information</h2></center>
<center><a href="Profile"><button>Profile</button></a></center><br>
<center><a href="Language"><button>Language</button></a></center><br>
<center><a href="Education"><button>Education</button></a></center><br>
<center><a href="Experience"><button>Experience</button></a></center><br>
<center><a href="Technical_Skills"><button>Technical Skills</button></a></center><br>
<center><a href="Projects"><button>Projects</button></a></center><br>
<center><a href="Goal"><button>Goal</button></a></center><br>
<center><a href="References"><button>References</button></a></center><br>
</body>