@{
    ViewBag.Title = "Profile";
}

<h2 style="background-color:lightgreen;">Profile</h2>
<center><img src="Heem.jpeg"  width="200" height="200"></center>
<h4 style="text-align:left;">P. K. M. Sakline Bari Heemel</h4>
<h4 style="text-align:left;">Saklineheemel51@gmail.com</h4>
<h4 style="text-align:left;">Contact no:01748164525</h4>
<h4 style="text-align:left;">Dulai, Sujanagar, Pabna</h4>
<h2 style="background-color:lightgreen;">OBJECTIVE</h2>
<p>As a developer you have to be productive and deliver value to the company.  To secure a challenging position in a reputed organization to expand my education, knowledge and skills. Ensure a responsible career opportunity to fully utilize my training and skills while making significant contributions to the success of the company.Develop good communication skills, track your time and work effectively in a team to become better at time management.</p>
