@{
    ViewBag.Title = "Projects";
}

<b><h3 style="background-color:lightgreen;">MY PROJECTS</h3></b>
<ul>
<li>ATM BANK MANAGEMENT SYSTEM</li>
<li>Data mining to identify the spread of online terrorism</li>
<li>Aircraft Management System</li>
<li>Village Design</li>
<li>Hospital Management</li>
</ul>