@{
    ViewBag.Title = "References";
}
<b><h3 style="background-color:lightgreen;">REFERENCES</h3></b>
<ol>
<li>Dr.Md. Ashraf Uddin</li>

<ul>
<li>Assistant Professor</li>
<li>American International University-Bangladesh</li>
<li>Mobile no:01625325247</li>
<li>Email.ashraf@aiub.edu</li>
</ul>

<br>
<li>Zakariya Hossain Babu</li>

<ul>
<li>Senior manager</li>
<li>Janata Bank</li>
<li>Mobile no:01623576927</li>
<li>Email.zakaria77@gmail.com</li>
</ul>
</ol>