@{
    ViewBag.Title = "Technical_Skills";
}

<b><h3 style="background-color:lightgreen;">MY TECHNICAL SKILLS</h3></b>
<ul>
<li>Outlook</li>
<li>Notepade++</li>
<li>Powerpoint</li>
<li>Codeblocks</li>
<li>Excel</li>
<li>Word</li>
<li>Java</li>
<li>Sql</li>
<li>C#</li>
<li>HTML</li>
<li>PHP</li>
<li>CSS</li>
</ul>
