
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Doctor.cshtml";
}


    <h2>Doctor Homepage</h2>
    <h3 style="border: 1px solid skyblue" ;></h3>
    <span class="text-success">@TempData["msg"]</span>

    <h1><br /></h1>
    <table class="table table-bordered">
        <tr>
            <th colspan="2" text-align:center;">Notices</th>
        </tr>
        <tr>
            <th>Title</th>
            <th>Details</th>
        </tr>
        @foreach (var pt in Model)
        {
            <tr>
                <td>@pt.Title</td>
                <td>@pt.Details</td>
            </tr>
        }
    </table>


