<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="First_data_baseEntities" connectionString="metadata=res://*/EF.StudentDB.csdl|res://*/EF.StudentDB.ssdl|res://*/EF.StudentDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-3AB8IK4;initial catalog=First_data_base;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>